@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

body {
  margin: 2px 0;
  scroll-behavior: smooth;
}
h1 {
  margin: 0;
}

/*------------------------------------------------------------------------------*/
#root {
  margin: 0 3%;
  min-width: 365px;
  padding: 10px;
  border-radius: 36px;
  background-color: hsla(82, 30%, 35%, 0.8);
}

@media screen and (max-width: 725px) {
  #root {
    margin: 0 2px;
    padding: 8px;
  }
  header {
    height: 410px;
  }
}

.hr_line {
  width: 90%;
  margin: 10px auto;
  border: 1px solid black;
  box-shadow: 0 0 10px white;
}
